.container_wrapper_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebc44e;
}

.footer_container {
  width: 100%;
  padding: 30px 50px;
}

.footer_content {
  text-align: center; /* Center the content horizontally */
}

.footer_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftside {
  max-width: 10%;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center_cotnent {
  margin-left: 20px;
}

.center_cotnent a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.icon_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_section img {
  margin: 10px;
  height: 25px;
  width: 25px;
}

.rightside a {
  text-decoration: none;
  color: black;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_lastitem {
  margin-top: 50px;
  text-align: center;
  padding: 80px;
}

.footer_lastitem p {
  font-size: 10px;
  color: black;
  font-weight: 400;
  font-family: "poppins", sans-serif;
  max-width: 50%;
  color: rgb(84, 84, 35);
  margin: 0 auto; /* Center the paragraph horizontally */
  text-align: center; /* Center the text within the paragraph */
}

@media (min-width: 320px) and (max-width: 768px) {
  .container_wrapper_footer {
    background-color: #ebc44e;
    height:auto;
    gap: 20px;
  }

  .footer_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3em;
    padding: 10px;
  }
  .footer_content p{
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Barlow',sans-serif;
    font-weight:500;
  }

  .leftside {
    max-width: 41%;
  }
  .leftside span {
    font-size:15px;
    font-family: "poppins", sans-serif;
    font-weight:500;
  }

  .center_cotnent {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 11em;
    margin-left: 0px;
    gap: 5px;
    max-width: 80%;
  }

  .center_cotnent a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: "poppins", sans-serif;
    text-align: center;
    font-weight: 500;
  }

  .rightside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
  .rightside a {
    text-decoration: none;
    color: black;
    margin-top: 0px;
    white-space: nowrap;
    font-size: 14px;
    font-family: "poppins", sans-serif;
    font-weight: 600;
  }

  .icon_section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    align-self: flex-end;
    margin-top:5.2em;
    right: 0;
    margin-right: 12px;
  }

  .footer_lastitem {
    text-align: center;
    padding: 0px;
    padding-top: 30%;
  }

  .footer_lastitem p {
    font-size: 2.5vw;
    color: black;
    font-weight: 500;
    font-family: "poppins", sans-serif;
    max-width: 98%;
    color: rgb(84, 84, 35);
    text-align: center;
  }
}
