.container {
  padding: 30px 50px;
  background-color: #ffce32;
  height: 889px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.content_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.fxmaster_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.fxmaster_content h1 {
  font-size: 72px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  max-width: 1200px;
  text-align: center;
  font-family: "Barlow", sans-serif;
}
.fxmaster_content p {
  font-size:16px;
  font-weight:500;
  margin-top: 20px;
  text-align: center;
  font-family: 'poppins',sans-serif;
  max-width: 700px;
}

.fxmaster_btn {
  display: inline-block; /* Ensure the button container takes up only the necessary width */
}

.fxmaster_btn button {
  background-color: blue;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-weight: 500;
  height:80px;
  width: 459px;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.fxmaster_btn button:hover {
  background-color: blue; /* Change background color on hover */
}
@media only screen and (max-width: 2580px) and (min-width: 1560px) {
  .container {
    padding: 30px 50px;
    background-color: #ffce32;
    height: 889px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .fxmaster_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
  .fxmaster_content h1 {
    font-size: 82px;
    font-weight:400;
    color: #000000;
    text-transform: uppercase;
    max-width: 1200px;
    text-align: center;
    font-family: "Barlow", sans-serif;
  }
  .fxmaster_content p {
    font-size:20px;
    font-weight:500;
    margin-top: 20px;
    text-align: center;
    font-family: 'poppins',sans-serif;
    max-width: 700px;
  }
  .fxmaster_btn button {
    background-color: blue;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    font-weight: 500;
    height: 113px;
    width: 459px;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
}





@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
