.container_payment_section {
  padding: 30px 50px;
  z-index: 99999;
  justify-content: center;
  display: flex;
  align-items: center;
}
.container_payment_section_wrapper {
  flex-direction: column;
  margin-bottom: calc(100vh - 340px);
}
.content_section_payment {
  text-align: center;
}

.content_section_payment h1 {
  font-size: 45px;
  font-family: "Barlow", sans-serif;
  max-width: 60%;
  margin: 0 auto; /* This centers the block element itself, not its contents */
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}

.content_section_payment p {
  font-size: 12px;
  font-family: "poppins", sans-serif;
  margin: 0 auto;
  color: white;
  font-weight: 500;
  margin-top: 15px;
}

.button_section_payment {
  display: flex;
  justify-content: center;
  margin-top: 30px; 
}

.button_section_payment button {
  margin-right: 10px;
  background-color: transparent;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  width: 20%;
  border: 2px solid white;
  font-size: 15px;
}

.button_section_payment button.active {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.render_card_content_container {
  padding: 30px 50px;
  margin: 0px 10em;
}

.row {
  display: flex;
  justify-content: space-between;
}

.content_wrapper_card {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 10px 20px;
}

.leftside_content_cards img {
  height: 60vh;
  width: 20vw;
}

.rightside_content_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5em;
  gap: 20px;
}

.rightside_content_card h1 {
  align-self: flex-start;
  display: flex;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.rightside_content_card p {
  font-size: 14px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  text-align: justify;
}

.second_content_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftside_content_cards {
  height: 60vh;
  width: 20vw;
}

.leftside_content_cards_content {
  height: 60vh;
  width: 50vw;
  background-color: #ffce32;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.card_item_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px 25px;
}

.card_item_content img {
  height: 45px;
  width: 45px;
}
.card_item_content h1 {
  font-size: 20px;
  font-family: "poppins", sans-serif;
  font-weight: 400px;
}

.card_item_content p {
  font-size: 14px;
  font-family: "poppins", sans-serif;
  font-weight: 400px;
  text-align: center;
}

.content_wrapper_item {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 10em;
}

.content_wrapper_item h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
}
.content_wrapper_item p {
  font-size: 14px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  text-align: right;
}

/* wrapper content */
.wrapper_content_card {
  padding: 30px 50px;
  background-color: blue;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}
.wrapper_content_section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper_content_section h2 {
  font-size: 34px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

.wrapper_content_section span {
  font-size: 14px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: white;
  margin: 15px 0;
  text-align: center;
  width: 50%;
}

.subitem_container {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.subitem {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px 5em;
  margin-top: 5em;
  gap: 20px;
}

.subitem img {
  width: 40px; /* Adjust icon size */
  height: 40px;
  margin-right: 10px;
}
.subitem p {
  color: white;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  font-family: "poppins", sans-serif;
  max-width: 200px;
}

.subitem h3 {
  font-size: 20px;
  color: white;
  font-weight: 400;
  font-family: "poppins", sans-serif;
  text-align: center;
}

.subitem div {
  flex-grow: 1;
}


/* global css */
.computer_container_global {
  padding: 30px 50px;
}

.computer_wrapper_global {
  display: flex;
  gap: 30px;

  margin-top:8em;
}

.leftside_computer_global {
  flex: 1;
  margin-top:3em;
}

.leftside_computer_global h2 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: poppins, sans-serif;
}

.leftside_computer_global h1 {
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: poppins, sans-serif;
  letter-spacing:2px;
  width: 55%;
}

.leftside_computer_global p {
  font-size: 15px;
  font-weight: 400;
  font-family: poppins, sans-serif;
  letter-spacing: 1px;
  margin-top: 1em;
  width:50%;
}

.computer_wrapper_global_item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.computer_wrapper_items_section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.computer_wrapper_items_section img {
  height: 25px;
  width: 25px;
  object-fit: contain;
}

.computer_items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.computer_items h3 {
  font-size: 18px;
  font-weight: 500;
  font-family: poppins, sans-serif;
  letter-spacing:2px;
  margin-top: 1em;
  width: 80%; 
}

.computer_items p {
  font-size: 14px;
  width: 80%; 
}

.img_container_global {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.img_container_global {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100vh;
}
.img_container_global img {
  max-height: 100vh;
  max-width: 100%;
  object-fit: contain;
}


/* render map */
.render_globe_map{
  padding: 30px 50px;
  margin-top: 5em;
  height: calc(100vh - 100px);
}
.render_globe_map_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.render_globe_map_content img{
  height: 100vh;
  width: 80%;
}

.render_cotainer_wrapper_items{
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.render_cotainer_wrapper_items h1{
  font-size:36px;
  font-weight:400;
  font-family: "poppins", sans-serif;
  letter-spacing:2px;
  width:60%;
}
.bludeDot {
  height: 50px;
  width: 50px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  right: 40%;
}
.render_cotainer_wrapper_items p{
  font-size: 15px;
  font-family: "poppins",sans-serif;
  width:60%;
  text-align:justify;
  letter-spacing:2px;

}
.row2{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items:center;
  text-align: center;
}
@media (max-width: 768px) {
  .wrapper_content_section {
    padding: 10px;
  }
  wrapper_content_card .subitem {
    margin: 5px;
  }
}

/* Responsive code */
@media only screen and (max-width: 576px){
  .payments-background{
    height: 120vh;
  }
  .container_payment_section {
    padding: 10px;
  }
  .content_section_payment h1{
    font-size: 42px;
    max-width: 95%;
    letter-spacing: 3px;
  }

  .content_section_payment p{
    font-size: 14px;
  }
  .button_section_payment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  .button_section_payment button {
    padding: 15px 16px;
    font-size: 14px;
    width: 85%;
    margin-top: 15px;
    border-radius: 30px;
  }
  .render_card_content_container{
    padding: 10px;
  
    display: flex;
    justify-content: center;
    /* flex-wrap: ; */
    flex-direction: column;
    
    align-items: center;
    margin: auto;
  }
  .row2{
    flex-direction: column;
    /* width: 85vw; */
    /* height: 70vh; */
  }
  .leftside_content_cards{
    width: 100%;
    height: 75vh;
  }
  .leftside_content_cards img{
    width: 100%;
    height: 75vh;
  }
  .rightside_content_card{
    margin: 0em;
    padding: 10px 30px;
  }
  .rightside_content_card h1,
  .content_wrapper_item h1{
    font-size: 26px;
    text-align: left;
  }
  .rightside_content_card p{
    width: 100%;
    text-align: left;
  }
  
  .second_content_card{
    flex-direction: column-reverse;
  }
  .leftside_content_cards_content{
    width: 90%;
    height: 45vh;
    margin-top:4em
  }
  .content_wrapper_item{
    text-align: center;
    margin: 1em 0em;
  }
  .content_wrapper_item{
    align-items:flex-start ;
    padding-left: 20px;
  }
  .content_wrapper_item p{
    text-align: left;
    margin: 1em 0em;
  }
  .wrapper_content_card{
    padding: 20px 10px;
    height: 100%;
  }
  .wrapper_content_section h2{
    width: 85%;
    text-align: center;
    margin-top: 1em;
  }
  .wrapper_content_section span{
    width: 90%;
  }
  .wrapper_content_section {
    padding: 10px;
  }
  .subitem_container{
    flex-direction: column;
  }
  .subitem{
    margin: 3em 1em;
  }
  .computer_container_global{
    padding: 10px;
    margin-top:2em;
  }
  .computer_wrapper_global{
    margin-top: 3em;
    flex-direction: column-reverse;
  }
  
  .img_container_global{
    position: relative;
    height: 70%;
    width: 100%;
  }
  .leftside_computer_global{
    margin-top : 0em;
    padding: 0px 20px;
    font-weight: 500;
  }
  .leftside_computer_global h1{
    font-size: 40px;
    width: 100%;
    letter-spacing: 1px;
    line-height: 1.4;
  }
  .leftside_computer_global p{
    font-size: 14px;
    width: 80%;
  }
  .bludeDot {
   display: none;
  }
 
  .render_globe_map{
    padding: 10px;
    height: 110vh;
  }
  .render_globe_map_content{
    gap: 0px;
    justify-content:center;
    flex-direction: column;
  }
  .render_globe_map_content img{
    height: 60vh;
    width: 90%;
  }
  .render_cotainer_wrapper_items{
    gap:0px;
  }
  .render_cotainer_wrapper_items h1{
    width: 85%;
    font-size: 26px;
    margin: 1em 0em;
  }
  .render_cotainer_wrapper_items p{
    font-size: 14px;
    font-family: "poppins", sans-serif;
    width: 84%;
    text-align: left;
    letter-spacing: 1px;
  }

}