.pricing_container {
  padding: 30px 50px;
  z-index: 99999;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #121722;
  height: 90vh;
}

.pricing_container_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20%;
}
.pricing_container_content {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pricing_container_wrapper h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
}

.pricing_container_wrapper span {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffce32;
}
.pricing_container_content p {
  font-size: 15px;
  text-align: center;
  color: white;
  width: 70%;
}

.render_image {
  position: absolute;
  top: 50%; /* Position the image 50% from the top */
  transform: translateY(50%); /* Center the image vertically */
}

.img_element {
  height: 60vh;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.price_section_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}
.second_price_section_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.second_price_section_container h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 60%;
}
.second_price_section_container p {
  font-size: 15px;
  text-align: center;
  width: 60%;
}

.pricing_btn_container {
  display: flex;
  gap: 10px;
}

.pricing_btn_container button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 10vw;
  margin: 20px 0px;
}

.pricing_btn_container button.active {
  background-color: black;
  color: white;
}

.pricing_btn_container button:not(.active) {
  border: 1px solid black;
  background-color: transparent;
  color: black;
}

/* prcing table css */
/* pricing.css */

.pricing_table_container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.pricing_card {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, #ffffff 70%, #ffce32 30%);
}

.pricing_section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin: 10px 20px;
  position: relative;
}

.pricing_section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.pricing_section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110.7%;
  height: 1px;
  background-color: #ccc;
  margin-left: -40px;
}

.pricing_section:last-child::after {
  display: none;
}

.pricing_header {
  margin-bottom: 10px;
}

.pricing_header h2 {
  font-size: 20px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
}

.pricing_content {
  display: flex;
  justify-content: space-between;
}

.left_content {
  display: flex;
  align-items: center;
}

.tick_icon {
  margin-right: 10px;
}

.status {
  text-align: right;
}
.tick_icon img {
  height: 25px;
  width: 25px;
}

.register_info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  margin: 0px 10px;
}

.register_info h4 {
  font-size: 20px;
  font-weight: 400;
  font-family: "poppins" sans-serif;
  color: #121722;
}

.register_info p {
  font-size: 16px;
  font-weight: 300;
  font-family: "poppins" sans-serif;
  color: #858585;
}

.pricing_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_content {
  width: 70%;
}

.sub_items {
  margin-top: 10px;
}

.sub_item {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.subitem_info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px 10px;
  gap: 10px;
}

.subitem_info h4 {
  font-size: 18px;
  font-weight: 400;
  font-family: "poppins" sans-serif;
  color: #121722;
}

.subitem_info p {
  font-size: 16px;
  font-weight: 300;
  font-family: "poppins" sans-serif;
  color: #858585;
}

.render_cirlce_map{
  padding: 30px 50px;
}
.render_cirlce_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.render_content_circle{
  display: flex;
  align-items: center;
  justify-content: center;
}


.render_circle_container {
  display: flex;
  flex-wrap: wrap; /* Allow circles to wrap to the next row */
  justify-content: center;
  margin-top:6em;
}

.render_circle_content {
  margin: 20px 60px; /* Add margin between circles */ 
}

.render_content_circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px; /* Adjust height as needed */
  width: 300px; /* Adjust width as needed */
  max-width: 100%; /* Ensure circles don't exceed container width */
  background-color: #ffce32;
  border-radius: 50%;
  text-align: center; /* Center align text */
  padding: 20px; /* Add padding for content */
  gap: 20px ;
}

.render_content_circle img {
  height:45px; /* Adjust icon size */
  width: 45px; /* Adjust icon size */
}
.render_content_circle h1{
  font-size: 20px; 
  font-weight: 400;
  font-family:"poppins",sans-serif;
}


/* responsive */

@media screen and (max-width: 768px) {
  .pricing_container {

    height:70vh;
  }
  
  .pricing_container_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5em;
  }
  .pricing_container_content {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .pricing_container_wrapper h1 {
    font-size:70px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    color: white;
    text-align: center;
    max-width:60vw;
  }
  
  .pricing_container_wrapper span {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    color: #ffce32;
    text-align: center;
    max-width:60%;
  }
  .pricing_container_content p {
    font-size:21px;
    text-align: center;
    color: white;
    width:90%;
    margin-top: 10px;
  }
  .render_image {
    position: absolute;
    top: 10%; 
    transform: translateY(50%); /* Center the image vertically */
  }
  
  .img_element {
    height: 60vh;
    width: auto;
    max-width: 100%;
    object-fit: contain;
  }
  
  .price_section_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:16em;

  }
  .second_price_section_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .second_price_section_container h1 {
    font-size:60px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 70%;
    line-height: 70px;
  }
  .second_price_section_container p {
    font-size: 4vw;
    text-align: center;
    width: 80%;
  }
  
  .pricing_btn_container {
    display: flex;
    gap: 10px;
  }
  
  .pricing_btn_container button {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 25vw;
    margin: 20px 10px;
  }
  
  .pricing_btn_container button.active {
    background-color: black;
    color: white;
  }
  
  .pricing_btn_container button:not(.active) {
    border: 1px solid black;
    background-color: transparent;
    color: black;
  }
  .pricing_table_container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
  }
  
  .pricing_card {
    display: flex;
    flex-direction: column;
    max-width:600px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, #ffffff 70%, #ffce32 30%);
  }
  
  .pricing_section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin: 10px 20px;
    position: relative;
  }
  
  .pricing_section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .pricing_section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 110.7%;
    height: 1px;
    background-color: #ccc;
    margin-left: -40px;
  }
  
  .pricing_section:last-child::after {
    display: none;
  }
  
  .pricing_header {
    margin-bottom: 10px;
  }
  
  .pricing_header h2 {
    font-size: 3vw;
    font-weight: 500;
    font-family: "poppins", sans-serif;
  }
  
  .pricing_content {
    display: flex;
    justify-content: space-between;
  }
  
  .left_content {
    display: flex;
    align-items: center;
  }
  
  .tick_icon {
    margin-right: 10px;
  }
  
  .status {
    text-align: right;
  }
  .tick_icon img {
    height: 25px;
    width: 25px;
  }
  
  .register_info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    margin: 0px 10px;
  }
  
  .register_info h4 {
    font-size: 22px;
    font-weight:450;
    font-family: "poppins" sans-serif;
    color: #121722;
  }
  
  .register_info p {
    font-size: 16px;
    font-weight: 300;
    font-family: "poppins" sans-serif;
    color: #858585;
  }
  
  .pricing_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left_content {
    width: 70%;
  }
  
  .sub_items {
    margin-top: 10px;
  }
  
  .sub_item {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .subitem_info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px 10px;
    gap: 10px;
  }
  
  .subitem_info h4 {
    font-size: 18px;
    font-weight: 400;
    font-family: "poppins" sans-serif;
    color: #121722;
  }
  
  .subitem_info p {
    font-size: 16px;
    font-weight: 300;
    font-family: "poppins" sans-serif;
    color: #858585;
  }

  .render_cirlce_map{
    padding: 30px 50px;
  }
  .render_cirlce_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
  .render_content_circle{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .render_circle_container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top:6em;
  }
  
  .render_circle_content {
    margin: 20px 60px; 
  }
  
  .render_content_circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px; 
    width: 500px;
    max-width: 100%; 
    background-color: #ffce32;
    border-radius: 50%;
    text-align: center; 
    padding: 20px;
    gap:30px;
  }
  
  .render_content_circle img {
    height:55px; /* Adjust icon size */
    width: 55px; /* Adjust icon size */
  }
  .render_content_circle h1{
    font-size: 25px; 
    font-weight: 500;
    font-family:"poppins",sans-serif;
  }
  
}

@media screen and (max-width: 576px) {
  .pricing_container {
    height:100vh;
    padding: 0px 10px;

  }
  .pricing_container_wrapper{
    margin-top:0em;
    flex-direction:column;
    width: 100%;
    margin-bottom: 7em;
    line-height: 1.3;
  }
  .pricing_container_content{
    gap: 0px;
  }
  .pricing_container_wrapper h1{
    font-size: 48px;
    max-width: 80%;
  }
  .pricing_container_wrapper span{
    font-size: 48px;
    max-width: 80%;
  }
  .pricing_container_content p{
    width: 90%;
    font-size: 15px;
    margin-top: 2em;
  }
  .render_image{
    margin-top: 10em;
    top:0
  }
  .img_element {
    height: 70vh;
    object-fit: cover;
    background-size: 100%;
  }
  .price_section_container{
    margin-top: 24em;
  }
  .second_price_section_container h1{
    font-size:35px;
    width: 80%;
    line-height: 50px;
  }
  .second_price_section_container p {
    width: 90%;
    font-size: 14px;
  }
  .pricing_btn_container button{
    padding: 10px;
    border-radius: 30px;
  }
  .pricing_card{
    width: 80%;
    padding: 12px;
  }
  
  .register_info h4,
  .register_info p,
  .subitem_info h4,
  .subitem_info p{
    font-size: 14px;
  }
  .render_cirlce_map{
    padding: 10px;
  }
  .render_circle_container {
    margin-top: 4em;
  }
  .render_circle_content{
    margin: 20px;
  }
  .render_content_circle{
    max-width: 279px;
    max-height: 279px;
  }

}