.container_security {
  padding: 30px 50px;
  z-index: 99999;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #1d63ff;
  height: 95vh;
}
.security_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.security_content_wrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10em;
}

.security_content_wrapper h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
}

.security_content_wrapper span {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffce32;
}
.security_content_wrapper p {
  font-size: 15px;
  text-align: center;
  color: white;
  width: 70%;
  font-family: "Poppins", sans-serif;
}

/* card section */
.card_container {
  padding: 30px 50px;
}

.card_wrapper_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.card_wrapper_section_second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10em;
}

.card_wrapper_section_third {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5em;
}

.card_wrapper_section_fourth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5em;
}

.leftside_card_swapper {
  padding: 20px;
  background-color: #ffce32;
  max-width: 500px;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 10px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.leftside_card_swapper img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.leftside_card_swapper h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}
.leftside_card_swapper p {
  font-size: 14px;
  text-align: center;
}
.rightside_card_swrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  margin-top: 8em;
  margin-right: 15em;
}

.rightside_card_swrapper h2 {
  font-size: 24px;
  margin-bottom: 10px; /* Adjust margin as needed */
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

.rightside_card_swrapper p {
  font-size: 16px;
  max-width: 550px;
}

.leftside_wrapper_context {
  padding: 20px;
  background-color: #ffce32;
  max-width: 500px;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 10px;
}

.leftside_wrapper_context img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.leftside_wrapper_context h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}
.leftside_wrapper_context p {
  font-size: 14px;
  text-align: center;
  color: black;
}
.rightside_wrappr_context {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 6em;
  margin-right: 5em;
}

.rightside_wrappr_context h2 {
  font-size: 24px;
  margin-bottom: 10px; /* Adjust margin as needed */
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  display: flex;
  align-self: flex-start;
  align-self: flex-end;
}

.rightside_wrappr_context p {
  font-size: 16px;
  width: 58%;
  display: flex;
  text-align: right;
  align-self: flex-start;
  align-self: flex-end;
  /* max-width: 500px; */
}

.content_leftside {
  padding: 20px;
  background-color: #ffce32;
  max-width: 500px;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 10px;
}

.content_leftside img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.content_leftside h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}
.content_leftside p {
  font-size: 14px;
  text-align: center;
}
.content_rightside {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 6em;
  margin-right: 5em;
}

.content_rightside h2 {
  font-size: 24px;
  margin-bottom: 10px; /* Adjust margin as needed */
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  display: flex;
  align-self: flex-end;
}

.content_rightside p {
  font-size: 16px;
  width: 60%;
  display: flex;
  text-align: right;
  align-self: flex-end;
}

/*  */

.leftside_third {
  padding: 20px;
  background-color: #ffce32;
  max-width: 500px;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 10px;
}

.leftside_third img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.leftside_third h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}
.leftside_third p {
  font-size: 14px;
  text-align: center;
}
.rightside_third {
  flex: 1;
  margin-left: 40px; /* Adjust margin as needed */
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.rightside_third h2 {
  font-size: 24px;
  margin-bottom: 10px; /* Adjust margin as needed */
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

.rightside_third p {
  font-size: 16px;
  max-width: 550px;
}

/* friend section */
.friend_container {
  padding: 20px 30px;
  background-image: url("../images//friend.png");
  background-size: cover;
  height: 100vh;
  margin-top: 5em;
}
.friend_with_wwapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  gap: 20px;
}
.friend_with_wwapper h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.friend_with_wwapper p {
  font-size: 20px;
  max-width: 60%;
  text-align: center;
}

.computer_container {
  padding: 30px 50px;
}

.computer_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin-top: -8em;
}

.leftside_computer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  width: 50%;
  margin-top:20%;
  
}

.img_container img {
  height: 100vh;
  width:50%;
  object-fit: "contain";
  position: absolute;
  right: 0;
}

.leftside_computer h2{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-family:poppins,sans-serif;
}
.leftside_computer h1{
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  letter-spacing: 1px;
}

.leftside_computer p{
  font-size: 15px;
  font-weight: 400;
  font-family:poppins,sans-serif;
  letter-spacing: 1px;
  margin-top:1em;
  width: 80%;
}

.btn_computer button{
  background-color: transparent;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  margin-top:20px;

}

.know_container_wrapper{
  padding: 30px 50px;
  background-color: #1d63ff;
  height:60vh;
  margin-top:40%;
  
}
.container_wrapper_known{
  margin-left:1%;
}

.container_wrapper_known{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -8em;
}
.circle_known img{
  height:70vh;
  width: 80%;
  object-fit: cover;
}
.leftside_wrapper_known{
  display: flex;
  flex-direction: column ;
 justify-content: flex-end;
 gap:20px;
}

.leftside_wrapper_known h1{
  font-size: 35px;
  font-weight: 500;
  font-family:poppins,sans-serif;
  letter-spacing: 1px;
  color: white;

}

.leftside_wrapper_known p{
  font-size: 15px;
  font-weight: 400;
  font-family:poppins,sans-serif;
  letter-spacing: 1px;
  color: white;
  width: 70%;
}

.getinfo_btn_know button {
  padding: 10px 30px;
  background-color: #fff;
  color: #1d63ff;
  border: none;
  border-radius: 20px;
  font-size:15px;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.getinfo_btn_know button::after {
  content: "";
  background-image: url("../images/greter.png");
  background-size: contain;
  background-repeat: no-repeat;
  width:15px;
  height:15px;
  position: absolute;
  top: 50%;
  padding: 2px;
  transform: translateY(-50%);
}



/* responsive */

@media screen and (max-width:782px) {
 
  .container_security {
    padding: 30px 50px;
    z-index: 99999;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #1d63ff;
    height: 75vh;
  }
 
  .security_content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .security_content_wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: -10em;
  }
  
  .security_content_wrapper h1 {
    font-size:55px;
    text-transform: uppercase;
    font-weight:500;
    font-family: "Barlow", sans-serif;
    color: white;
    text-align: center;
    width: 90%;
    letter-spacing: 2px;
    margin-top: 1.5em;
  }
  
  .security_content_wrapper span {
    font-size: 65px;
    text-transform: uppercase;
    font-weight:500;
    font-family: "Barlow", sans-serif;
    color: #ffce32;
    text-align: center;
    letter-spacing: 2px;
    width: 70%;
  }
  .security_content_wrapper p {
    font-size:15px;
    text-align: center;
    color: white;
    max-width: 80%;
    letter-spacing: 2px;
  }
}


@media only screen and (max-width: 576px){
  .container_security{
    padding: 10px;
  }
  .security_content_wrapper span {
    font-size: 46px;
  }
  .security_content_wrapper{
    margin-top: 10px;
  }
  .security_content_wrapper h1{
    line-height:1;
    font-size: 45px;
  }
  /* .security_content_wrapper p{
    width: ;
  } */
  .circle-img1{
    width: 210px;
    height: 210px;
    position: relative!important;
    top:-87px;
    left: -17px;
  }
  .circle_known img{
    height:210px;
    width: 210px;
    object-fit: cover;
  }
  .card_container {
    padding: 15px;
  }
  .card_wrapper_section{
    flex-wrap: wrap;
    justify-content: center;
  }
  .leftside_card_swapper,
  .rightside_card_swrapper,
  .rightside_wrappr_context,
  .leftside_wrapper_context,
  .leftside_third,
  .rightside_third,
  .content_rightside,
  .content_leftside{
    width: 75%;
    left: 9%;
  }
  .rightside_card_swrapper{
    margin-top:24em;
    margin-right:0em;
    font-family: "Barlow", sans-serif;
  }
  .card_wrapper_section_second,
  .card_wrapper_section_fourth{
    flex-direction: column-reverse;
  }
  .card_wrapper_section_second {
    margin-top: 11em;
    padding-top: 100px;
    /* margin-left: 2em; */
  }
  .rightside_wrappr_context{
    text-align: start;
    margin-right: 0px;
    margin-top: 3em;
  }
  .rightside_wrappr_context p{
    width: 100%;
    text-align: start;
  }
  .rightside_wrappr_context h2{
    font-size: 24px;
    align-self : flex-start
  }
  .card_wrapper_section_third{
    flex-direction: column;
  }
  .card_wrapper_section_third,
  .card_wrapper_section_fourth{
    margin-top: 3em;
  }
  .rightside_third,
  .content_rightside{
    align-self:normal;
    margin-top: 3em;
  }
  .content_rightside{
    margin: 3em 0em 2em 2.3em;
  }
  .content_rightside h2 {
    align-self: flex-start;
    /* margin-left: 5px; */
  }
  .content_rightside p{
    width: 100%;
    margin: 0em;
    align-self: flex-start;
    text-align: start;
    /* margin-left: 5px; */
  }
  .friend_container{
    margin-top: 1em;
    padding: 10px;
    text-align: center;
  }
  .friend_with_wwapper{
    margin-top: 1em;
    width: 65%;
    margin: auto;
  }
  .friend_with_wwapper h1 {
    font-size: 36px;
    margin-top: 2em;
  }
  .friend_with_wwapper p {
    font-size: 14px;
    max-width: 92%;
    margin-top: 1em;
  }

  .computer_wrapper {
    flex-direction: column-reverse;
    margin-top:0em;
  }
  .leftside_computer{
    width: 100%;
    margin-top: 28em;
  }
  .img_container img{
    object-fit: contain;
    width: 92%;
    height: 70vh;
  }
  .leftside_computer h1{
    letter-spacing: 0px;
    font-size: 36px;
  }
  .leftside_computer p{
    width: 100%;
  }
  .computer_container{
    padding: 10px 40px;
  }
  .container_wrapper_known {
    margin: 0em;
  }

  .know_container_wrapper{
    padding: 10px 20px;
    margin-top:15%;
  }
  .leftside_wrapper_known{
    gap: 0px;
  }
  .leftside_wrapper_known h1{
    width: 65%;
    font-size: 30px;
  }
  .btn_computer button{
    padding: 10px 50px;
  }
  .leftside_wrapper_known p{
    font-size: 14px;
    width: 100%;
  }
  .footer_container {
    padding: 25px 12px;
  }
  .getinfo_btn_know{
    margin-top: 1em;
  }
  .getinfo_btn_know button{
    padding: 10px 40px;
  }
}