.transfer_container {
  padding: 30px 50px;
  background-color: #fff9e4;
  /* height: calc(100vh);  */
}

.transfer_container .transfer_Child {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-top: 6%;
  padding-bottom: 10%;
}

.heding_tag {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 62px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.paragraph {
  font-size: 13px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
}
.btn_section {
  flex-direction: row;
  display: flex;
  align-self: flex-start;
}

.btn_section button {
  padding: 10px 10px;
  margin: 0px 10px;
  border-radius: 15px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  margin-top: 30px;
  cursor: pointer;
}

.btn_section button.active {
  background-color: black;
  color: white;
  border: 2px solid black;
}
.country-details-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 5em;
}

.column {
  display: flex;
  flex-direction: "row";
  flex-wrap: wrap;
}

.country-details {
  padding: 20px;
  border-radius: 10px;
  align-self: flex-start;
  display: flex;
  width: calc(18% - 20px);
  flex-direction: column;
}

.country-details img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.country-details h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.country-details p {
  margin-bottom: 10px;
  font-size: 12px;
  max-width: 100px;
}

.account-details-link {
  color: black;
  text-decoration: underline;
}

/* responsive */

@media (max-width: 1000px) {
}

@media screen and (max-width: 768px) {
  .heding_tag {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 62px;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    line-height: 70px;
  }
  .paragraph {
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-top: 15px;
    max-width: 90%;
    text-align: justify;
  }
  .btn_section {
    flex-direction: row;
    display: flex;
    align-self: flex-start;
  }
  .btn_section button {
    padding: 20px 0px;
    margin: 0px 10px;
    border-radius: 15px;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    margin-top: 30px;
    cursor: pointer;
    width: 2000em;
    font-size: 15px;
    /* max-width: 1000px; */
  }
  .country-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 5em;
  }

  .column {
    display: flex;
    flex-direction: "column";
  }

  .country-details {
    padding: 20px;
    border-radius: 10px;
    align-self: flex-start;
    display: flex;
    width: calc(18% - 20px);
    flex-direction: column;
  }

  .country-details img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .country-details h3 {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .country-details p {
    margin-bottom: 10px;
    font-size: 12px;
    max-width: 100px;
  }

  .account-details-link {
    color: black;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 576px) {
  /* .transfer_container {
    margin-top: 2em !important;
  } */
  .msb_transafer{
    margin-top: 4em!important;
  }
  .transfer_container {
    padding: 10px 20px;
  }
  .heding_tag {
    font-size: 36px;
    line-height: 43.2px;
  }
  .btn_section {
    flex-wrap: wrap;
  }
  .btn_section button {
    padding: 10px 0px;
    border-radius: 30px;
    margin-top: 18px;
  }
  .transfer_container .transfer_Child {
    padding-top: 10%;
  }
  .country-details {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .country-details p {
    max-width: 100%;
  }
  .country-details-container {
    margin-top: 3em;
  }
  .country-details img {
    width: 60px;
    height: 60px;
  }
}
